
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.fb {
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
}
.bt {
  color: white;
  background-color: orangered;
  border-radius: 25px;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.bt:hover {
  color: white;
  background-color: rgb(228, 7, 7);
  transition: ease-in-out;
  transition-duration: .7s;
}

main {
  padding: 50px 200px;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 32px;
  font-weight: 700;
  font-family: CabinetGrotesk,sans-serif;
  color: #002830;
 
}
p {
  font-weight: 400;
  color: #73878e;
  font-family: sans-serif;
  font-size: 20px;
  font-family: satoshi-Variable, sans-serif;
  font-size: 20px;
  margin-top: 20px;
}
.pwfl {
  color: orangered;
  font-weight: 600;
}
.bt1 {
  color: white;
  background-color: orangered;
  border-radius: 25px;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.shot {
  width: 50%;
  height: 100%;
 
 
}

.tb {
  margin-top: 100px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-left: 50px;
  color: #1a1b23;
}
.logo {
  align-items: center;
  gap: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; 
}
.div3 {
  background: rgb(236, 231, 231,.2);
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  padding-left: 170px;
  padding-right: 100px;
  
  
    
}

.cpr{
    font-size: 16px;
    font-family: sans-serif;
}
h3{
    color: #002830;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 20px; 
}
.otr{
    color: #002830;
    font-size: 1.5rem;
    font-weight: 600;
    font-size: 18px;
    
}
.abt{
    font-weight: 400;
    color: #73878e;
    font-size: 16px;
    max-width: 262px;
}
.mail{
    color: orangered;
    font-weight: 600;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
  .bt {
    display: none;
  }
.bt1{
  color: white;
  background-color: orangered;
  border-radius: 10px;
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
main {
  padding: 0px 16px;
}
.tb{
  font-size: 20px;
  padding: 0;
  font-weight: 400;
}
.div2{
  padding: 0px 16px 0px 16px;
  margin-bottom: 100px;
 
}
h1 {
  font-size: 25px;
  font-weight: 700;

}
.shot{
  display: none;
}
.myp{
  font-size: 17px;
}
.div3 {
  
  padding: 0px 16px 0px 16px ;
  gap: 50px;
  }  
svg{
  width: 130;
  height: 20;
}
.cpr{
  font-size: 20px;

}
.otr{
  font-size: 20px;
}
.abt{
  font-size: 15px;
}
}

@media screen and (max-width: 800px) {
  .fb{
    padding: 16px;
  }
  .bt {
  color: white;
  background-color: orangered;
  border-radius: 10px;
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  }
  main {
    padding: 0px 50px;
  }
.tb{
  font-size: 20px;
  padding: 0;
  font-weight: 400;
}
.div2{
  padding: 0px 32px 0px 32px;
  margin-bottom: 100px;
 
}
h1 {
  font-size: 25px;
  font-weight: 700;
  font-family: sans-serif;
  color: #002830;
  
}
.shot{
  display: none;
}
.myp{
  font-size: 17px;
}
.div3 {
  background: rgb(236, 231, 231,.2);
  display: flex;
  flex-direction: column-reverse;
  padding: 0px 32px 0px 32px ;
  gap: 50px;
  }  
svg{
  width: 130;
  height: 20;
}
.cpr{
  font-size: 20px;

}
.otr{
  font-size: 20px;
}
.abt{
  font-size: 15px;
}
}

@media screen and (max-width: 1100px) {
.fb{
padding: 30px 64px ;
}
main{
padding: 0 64px ;
}
.div3{
padding: 30px 64px ;
align-items: center;

}
}
